[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:ethan-mcconkey/neovim-config.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:ethan-mcconkey/tmux-config.git
