@import "/home/ethan/.dotfiles/.config/waybar/theme/catppuccin-frappe.css";

* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    color: @text;
    background-color: transparent;
}

.modules-left {
    border: 3px solid @pink;
    border-radius: 10px;
    padding: 1px 4px;
    background-color: alpha(@pink, 0.3);
}

.modules-center {
    border: 3px solid @sapphire;
    border-radius: 10px;
    padding: 1px 4px;
    background-color: alpha(@sapphire, 0.3);
}

.modules-right {
    border: 3px solid @green;
    border-radius: 10px;
    padding: 1px 4px;
    background-color: alpha(@green, 0.3);
}

#custom-exit {
    padding: 0px 10px 0px 0px;
}

#battery {
    padding: 0px 10px 0px 0px;
}

#pulseaudio {
    padding: 0px 10px 0px 0px;
}
