* {
    background-image: none;
    font-size: 20px;
    color: @text;
}

@import "/home/ethan/.dotfiles/.config/waybar/theme/catppuccin-frappe.css"; 

window {
    background-color: transparent;
}

button {
    background-color: alpha(@mauve, 0.5);
    border: 3px solid @mauve;
    margin: 2px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

button:hover {
    background-size: 30%;
    background-color: alpha(@mauve, 0.7);
}

button:last-child,
button:last-child:hover,
button:last-child:focus {
    border: none;
    background-color: transparent;
    background-image: none;
    background-size: 0%;
    color: alpha(white, 0);
    font-size: 0px; 
}

#lock {
    background-image: image(url("/home/ethan/.dotfiles/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/ethan/.dotfiles/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/ethan/.dotfiles/.config/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/home/ethan/.dotfiles/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/ethan/.dotfiles/.config/wlogout/icons/reboot.png"));
}
